[submodule "third_party/whisper-large-v3"]
	path = third_party/whisper-large-v3
	url = https://huggingface.co/openai/whisper-large-v3
[submodule "thirdparty/googletest"]
	path = thirdparty/googletest
	url = https://github.com/google/googletest.git
[submodule "thirdparty/cutlass"]
	path = thirdparty/cutlass
	url = https://github.com/NVIDIA/cutlass.git
